SETS

In [1]:
set_one = {12, 33, 12, 4, 56,78,79}
print(type(set_one))
print(set_one)

<class 'set'>
{33, 4, 56, 12, 78, 79}

In [2]:
#creating a set
empty_set = set()

In [3]:
#adding to a set
set_one.add(100)
print(set_one)

{33, 4, 100, 56, 12, 78, 79}

In [4]:
#updating a set
list_items = ["one", "three", 23, 12]
set_one.update(list_items)
print(set_one)

{4, 12, 78, 79, 'one', 23, 33, 100, 'three', 56}

In [5]:
#Remove elements - discard()
set_one.discard("one")
print(set_one)

{4, 12, 78, 79, 23, 33, 100, 'three', 56}

In [6]:
#iterate over a set
for item in set_one:
    print(item)
print("count of itens", len(set_one))

4
12
78
79
23
33
100
three
56
count of itens 9

#set operations
'''
union
intersection
subtraction
symmetric difference'''

In [7]:
sales_2022 = {"samsung", "von", "lg", "sony", "panasonic"}
sales_2023 = {"ramtons", "infinix", "samsung", "sony", "tecno"}

In [8]:
#set union
print("All items: ", sales_2022.union(sales_2023))

All items:  {'tecno', 'ramtons', 'panasonic', 'sony', 'infinix', 'samsung', 'lg', 'von'}

In [9]:
#set intersection
print("Items in both: ", sales_2022.intersection(sales_2023))

Items in both:  {'samsung', 'sony'}

In [10]:
#set defference
print("Items only for 2022: ", sales_2022.difference(sales_2023))

Items only for 2022:  {'lg', 'von', 'panasonic'}

In [11]:
#set symmeric defference
print("Items not in intersection for both: ", sales_2022.symmetric_difference(sales_2023))

Items not in intersection for both:  {'infinix', 'tecno', 'ramtons', 'lg', 'von', 'panasonic'}

In [12]:
#check if two sets are equal
setA = {2,3,4}
setB = {4,2,3}

if setA == setB:
    print("Set A and B are equal")
else:
    print("Set A amd B aren't equal")

Set A and B are equal

In [13]:
#check if two sets are equal
setA = {2,3,4}
setB = {4,2,3,6}

if setA == setB:
    print("Set A and B are equal")
else:
    print("Set A amd B aren't equal")

Set A amd B aren't equal

Lesson 7 Takeaway Task
Python Tuples/Sets
23rd Feb 2023
1.	Create a tuple called ‘customers’ with name of 5 customers
a.	Unpack the tuple the ids of the customers (assign random ids -- numbers)
b.	Print the values of the tuple using the customer ids assign in part a
2.	Create an empty set
a.	Add 5 items in the empty set from user input
b.	Remove the 3rd item in the set
c.	Delete the set
3.	Create 2 sets:
nairobi  = {“Kenyatta avenue”, “Moi avenue”, “Kimathi street”}
mombasa = {“Mtwapa street”, “Kenyatta avenue”, “Kisaju”}
Create and print set union, intersection, difference, and symmetric difference for the given sets.

In [49]:
#Create a tuple called ‘customers’ with name of 5 customers
customers = ("Mary", "John", "Faith", "Mike", "Eve")

#Unpack the tuple with ids of the customers
(15, 20, 3, 36, 23) = customers

#Print the values of the tuple using the customer ids
print(15)
print(20)
print(3)
print(36)
print(23)

SyntaxError: cannot assign to literal (1453839750.py, line 5)

In [44]:
#Create a tuple called ‘customers’ with name of 5 customers
customers = ("Mary", "John", "Faith", "Mike", "Eve")

#Unpack the tuple with ids of the customers 
(A15, B20, C3, D36, E23) = customers 

#Print the values of the tuple using the customer ids
print(A15)
print(B20)
print(C3)
print(D36)
print(E23)

Mary
John
Faith
Mike
Eve

In [47]:
#Create an empty set
phones = set()

#Add 5 items in the empty set from user input
for phone in range(5):
    phone = input("Enter phone brands: ")
    phones.add(phone)
print(phones)

Enter phone brands:  daa
Enter phone brands:  sds
Enter phone brands:  dss
Enter phone brands:  sds
Enter phone brands:  sdsd

{'sdsd', 'sds', 'daa', 'dss'}

In [25]:
#Remove the 3rd item in the set
phones.discard("sony")
print(phones)

{'ter', 'samsung', 'itel', 'redmi'}

In [26]:
#Delete the set
del(phones)
print(phones)

NameError: name 'phones' is not defined

In [32]:
#Create 2 sets:
nairobi  = {"Kenyatta avenue", "Moi avenue", "Kimathi street"}
mombasa = {"Mtwapa street", "Kenyatta avenue", "Kisaju"}

#Create and print set union, intersection, difference, and symmetric difference for the given sets.
print("Total number of streets in both Nairobi and Mombasa are: ", nairobi.union(mombasa))

#set intersection
print("Streets found in both Nairobi and Mombasa are: ", nairobi.intersection(mombasa))

#set difference
print("Streets only found in Nairobi: ", nairobi.difference(mombasa))

#symmetric difference 
print("Streets unique only to Nairobi or Mombasa: ", nairobi.symmetric_difference(mombasa))

Total number of streets in both Nairobi and Mombasa are:  {'Mtwapa street', 'Kimathi street', 'Kenyatta avenue', 'Kisaju', 'Moi avenue'}
Streets found in both Nairobi and Mombasa are:  {'Kenyatta avenue'}
Streets only found in Nairobi:  {'Kimathi street', 'Moi avenue'}
Streets unique only to Nairobi or Mombasa:  {'Mtwapa street', 'Kisaju', 'Moi avenue', 'Kimathi street'}