In [1]:
'''string operations & indexing and positon'''

string_one = "some text"
string_two = "some other text"

In [2]:
print("first character", string_one[0])
print("second character", string_two[2])

first character s
second character m


positive indexing - index from start to end,
negative indexing - index from end to start

In [3]:
'''
positve indexing to slice string
variable[start:end]
'''

print("first word in string one:", string_one[0:4])
#second word
print("second word in string one:", string_one[5:9])

first word in string one: some
second word in string one: text

In [4]:
#negative indexing
print("last word in string one:", string_one[-5:])
print("last three letters in string one:", string_one[-5:-1])

last word in string one:  text
last three letters in string one:  tex

In [6]:
#multiple line string
multi_string = """
string one
string two 
string three
"""

print(multi_string)

string one
string two
string three

In [7]:
#check if some strings are the same
string_three = "we are coding"
string_four = "we are writing"
string_five = "we are coding"

print(string_three == string_four)
print(string_three == string_five)

False
True

In [9]:
#join string
greet = "hello"
last = " you"

result = greet + last
print(result)

hello you

In [10]:
#iterating (loop through a string) extract characters and print each line by line
string_six = "coding"

for char in string_six:
    print(char)

c
o
d
i
n
g

In [11]:
#count length of a string
print(len(string_six))

6

In [16]:
#example tweet
post = input("write somthing")

if len(post) > 10:
    print("exceded character limit")
else:
    print("post in the correct limit")

write somthing sjjckd

post in the correct limit

EXERCISE

In [18]:
#String Variable
string_one = "Today is on Tuesday in month of February"

#counting characters from position 5
print("The number of characters is", len(string_one[5:]))

#First name and birth year input
first_name = input("Enter your first name: ")
yob = input("Enter the year you were born: ")

#generating username
username = (first_name + yob)
print("Hello", username.lower(), "You are", 2023 - int(yob))

The number of characters is 35

Enter your first name:  ROBERT
Enter the year you were born:  1950

Hello robert1950 You are 73

In [24]:
#String Variable
string_one = "Today is on Tuesday in month of February"

#counting characters from position 5
print("The number of characters is", len(string_one[5:]))

#First name and birth year input
first_name = input("Enter your first name: ")
yob = input("Enter the year you were born: ")

#generating username
username = (first_name + yob)
print(f"Hello {username.lower()} You are {2023 - int(yob)}")

The number of characters is 35

Enter your first name:  ROBERT
Enter the year you were born:  1950

Hello robert1950 You are 73