In [1]:
#string formarting

# % operator

string_1 = "hello everyone, we are %s programming"
print(string_1 %'learning')

hello everyone, we are learning programming

In [2]:
# format () function
name = "Robert"
print("hello {}. Welcome to the class".format(name))

hello Robert. Welcome to the class

In [3]:
# format () function
first_name = "Robert"
second_name = "John"
print("hello {}. Your second name is {} Welcome to the class".format(first_name,second_name))

hello Robert. Your second name is John Welcome to the class

In [4]:
# format () function
first_name = "Robert"
second_name = "John"
print("hello {1}. Your second name is {0} Welcome to the class".format(first_name,second_name))

hello John. Your second name is Robert Welcome to the class

In [5]:
# format () function
first_name = "Robert"
second_name = "John"
age = 40
print("hello {0}. Your second name is {1} Welcome to the class, your age is {2}".format(first_name,second_name, age))

hello Robert. Your second name is John Welcome to the class, your age is 40

In [6]:
'''
%s strings
%d integers
%f floating points
'''

'\n%s strings\n%d integers\n%f floating points\n'

In [7]:
#change case
string_3 = "Today is Tuesday"
print(string_3.upper())
print(string_3.lower())
print(string_3.title())

TODAY IS TUESDAY
today is tuesday
Today Is Tuesday

In [8]:
#lstrip() removes left whitespace
#rstrip() removes right whitespace

string_with_whitespace = "         good evening. we are coding           "
print(string_with_whitespace)
left_stripped = string_with_whitespace.lstrip()
print(left_stripped)
right_stripped = left_stripped.rstrip()
print(right_stripped)

         good evening. we are coding
good evening. we are coding
good evening. we are coding

DATA STRUCTURES

'''
PYTHON DATA STRUCTURES (collection data types)
eg Lists, Tuples, Sets, Dictionaries

Lists store multiple items in a single variable. eg fruits = ["apples, oranges"]
order is changable, allow duplicates
'''

In [10]:
#constructing list
fruits = list(("bananas", "berries", "oranges", "lemons"))
print(fruits)

['bananas', 'berries', 'oranges', 'lemons']

In [11]:
#indexing
print(fruits[0])
print(fruits[-1])

bananas
lemons

In [12]:
#slicing
print(fruits[1:3])

['berries', 'oranges']

In [13]:
#changing an item
fruits[1] = "apples"
print(fruits)

['bananas', 'apples', 'oranges', 'lemons']

In [14]:
#changing multiple items
fruits[0:2] = ["lime", "pineapples"]
print(fruits)

['lime', 'pineapples', 'oranges', 'lemons']

In [15]:
#changing multiple items, if you add more it expands the list
fruits[0:2] = ["lime", "pineapples", "passion", "mango"]
print(fruits)

['lime', 'pineapples', 'passion', 'mango', 'oranges', 'lemons']

In [16]:
#to add an item to a list, use append

customers = []
for customer in range(6):
    customer = input("Customer name: ")
    customers.append(customer)
print("customer name", customers)

Customer name:  d
Customer name:  s
Customer name:  f
Customer name:  f
Customer name:  g
Customer name:  h

customer name ['d', 's', 'f', 'f', 'g', 'h']

In [17]:
#insert to specific position
fruits.insert(2, "Kiwi")
print(fruits)

['lime', 'pineapples', 'Kiwi', 'passion', 'mango', 'oranges', 'lemons']

In [18]:
#extending a list - pick items from one list and adding to another
vegetables = ["spinach", "kale", "tomatoes"]
fruits.extend(vegetables)
print(fruits)

['lime', 'pineapples', 'Kiwi', 'passion', 'mango', 'oranges', 'lemons', 'spinach', 'kale', 'tomatoes']

In [19]:
#removing from list
fruits.remove("lime")
print(fruits)

['pineapples', 'Kiwi', 'passion', 'mango', 'oranges', 'lemons', 'spinach', 'kale', 'tomatoes']

In [20]:
#removing item
fruits.pop(1)
print(fruits)

['pineapples', 'passion', 'mango', 'oranges', 'lemons', 'spinach', 'kale', 'tomatoes']

In [21]:
#removing last item
fruits.pop()
print(fruits)

['pineapples', 'passion', 'mango', 'oranges', 'lemons', 'spinach', 'kale']

In [22]:
#removing item
del fruits[0]
print(fruits)

['passion', 'mango', 'oranges', 'lemons', 'spinach', 'kale']

In [23]:
#clearing list leaving it empty
fruits.clear()
print(fruits)

[]

In [29]:
#this will remove entire list
fruits = ["bananas", "berries", "oranges", "lemons"]
del fruits

Lesson 5 takeaway task

1.	Create an empty list

2.	Check the number of items in the list

3.	Create a variable to ask user to input 5 items and store in the list created

4.	Delete the last item in the list by default

5.	Create another list with 3 items

6.	Extend the second list using the first list

7.	Clear items in the second list

8.	Delete the second list

In [6]:
#empty list about cars
cars = []

#check the number of cars in list
print(cars)

#user to input cars they know and add to list
for car in range(5):
    car = input("Enter a variety of cars: ")
    cars.append(car)
print(cars)

#delete last item in list by default
cars.pop()
print(cars)

#user to input data into a new created list
lorry = []

for truck in range(3):
    truck = input("Enter a variety of lorries: ")
    lorry.append(truck)

print(lorry)

#extend the second list with the first
lorry.extend(cars)
print(lorry)

#clear items in the second list
lorry.clear()
print(lorry)

#delete second list
del lorry

[]

Enter a variety of cars:  toyota
Enter a variety of cars:  mazda
Enter a variety of cars:  vw
Enter a variety of cars:  isuzu
Enter a variety of cars:  ford

['toyota', 'mazda', 'vw', 'isuzu', 'ford']
['toyota', 'mazda', 'vw', 'isuzu']

Enter a variety of lorries:  izuzu
Enter a variety of lorries:  man
Enter a variety of lorries:  hino

['izuzu', 'man', 'hino']
['izuzu', 'man', 'hino', 'toyota', 'mazda', 'vw', 'isuzu']
[]

In [8]:
#looping/iterate through a list

countries = ["Kenya", "Tanzania", "South Africa"]

#use for loop to print each item
for country in countries:
    print(f"Country name: {country}")

Country name: Kenya
Country name: Tanzania
Country name: South Africa

In [11]:
#loop using index 
for index in range(len(countries)):
    print(f"Country name: {countries[index]}")

Country name: Kenya
Country name: Tanzania
Country name: South Africa

In [12]:
#loop using while loop
i = 0
while i < len(countries):
    print(countries[i])
    #this is an increment operator
    i = i + 1

Kenya
Tanzania
South Africa

In [15]:
#looping using list comprehension(short hand/shorten the for loop)
[print(country) for country in countries]

Kenya
Tanzania
South Africa

[None, None, None]

In [19]:
#list comprehension
#list of contacts
phone_book = ["Robert", "Eliud", "Ann", "Priscah", "Tyson", "adrian", "Elizabeth"]
person_name_a = []
for person_name in phone_book:
    if "a" in person_name:
        person_name_a.append(person_name)
        print(f" Names starting with 'a': {person_name}")
        
#shortened
person_name_a = [person_name for person_name in phone_book if "a" in person_name]
print(person_name_a)

 Names starting with 'a': Priscah
 Names starting with 'a': adrian
 Names starting with 'a': Elizabeth
['Priscah', 'adrian', 'Elizabeth']

In [22]:
#sort list
phone_book.sort()
print(f"sorted phonebook: {phone_book}")
#make sure the variables are in the same case as they can be separated. Note below

sorted phonebook: ['Ann', 'Eliud', 'Elizabeth', 'Priscah', 'Robert', 'Tyson', 'adrian']

In [24]:
#converting to lower case then sorting
phone_book.sort(key = str.lower)
print(f"sorted phonebook: {phone_book}")

sorted phonebook: ['adrian', 'Ann', 'Eliud', 'Elizabeth', 'Priscah', 'Robert', 'Tyson']

In [26]:
#reversing list
phone_book.reverse()
print(f"sorted phonebook: {phone_book}")

sorted phonebook: ['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian']

In [30]:
#copying list 1
new_phone_book = phone_book.copy()
print(new_phone_book)

['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian']

In [31]:
#copying list 2
new_phone_book = list(phone_book)
print(new_phone_book)

['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian']

In [32]:
#join list using +
numbers = [12, 23, 45,56]
pbook = phone_book + numbers
print(pbook)

['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian', 12, 23, 45, 56]

In [33]:
#join lists using for loop
for number in numbers:
    phone_book.append(numbers)
    print(phone_book)

['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian', [12, 23, 45, 56]]
['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian', [12, 23, 45, 56], [12, 23, 45, 56]]
['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian', [12, 23, 45, 56], [12, 23, 45, 56], [12, 23, 45, 56]]
['Tyson', 'Robert', 'Priscah', 'Elizabeth', 'Eliud', 'Ann', 'adrian', [12, 23, 45, 56], [12, 23, 45, 56], [12, 23, 45, 56], [12, 23, 45, 56]]