Date and Time

In [10]:
import time
import calendar

In [11]:
ticks = time.time() #number of seconds
print("Number of ticks since 12:00am, January 1 1970 ", ticks)

Number of ticks since 12:00am, January 1 1970  1678181542.604532

In [12]:
#get currrent time
curr_time = time.localtime(time.time())
print("Current Time ", curr_time)

Current Time  time.struct_time(tm_year=2023, tm_mon=3, tm_mday=7, tm_hour=12, tm_min=32, tm_sec=23, tm_wday=1, tm_yday=66, tm_isdst=0)

In [13]:
#formatted time
curr_time_formatted = time.asctime(curr_time)
print("current time: ", curr_time_formatted)

current time:  Tue Mar  7 12:32:23 2023

In [15]:
march_2023 = calendar.month(2023,3)
print("march 2023:", march_2023)

march 2023:      March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [16]:
#function to run after specified seconds
print("Start : %s" % time.ctime())
time.sleep(5)
print("End : %s" % time.ctime())

Start : Tue Mar  7 12:32:49 2023
End : Tue Mar  7 12:32:54 2023

In [20]:
#using atring formatted time(define your format) strftime
t = (2009, 2, 17, 17, 3, 38, 1, 48, 0)
t = time.mktime(t)
print(time.strftime("%b %d %Y %H:%M:%S", time.gmtime(t)))

Feb 17 2009 14:03:38

In [21]:
#more calendar
print(calendar.firstweekday())

0

In [22]:
#leap year
print(calendar.isleap(2020))

True

In [23]:
for i in range(5):
    check_leap_year = int(input("Enter year to check if it leap: "))
    if calendar.isleap(check_leap_year) == True:
        print(f"The year {check_leap_year} was a leap year")
    else:
        print(f"The year {check_leap_year} was not a leap year")

Enter year to check if it leap:  2020

The year 2020 was a leap year

Enter year to check if it leap:  2015

The year 2015 was not a leap year

Enter year to check if it leap:  2012

The year 2012 was a leap year

Enter year to check if it leap:  2030

The year 2030 was not a leap year

Enter year to check if it leap:  2040

The year 2040 was a leap year

In [26]:
print("check leap days between 2018 and 2023: ", calendar.leapdays(2018, 2023))

check leap days between 2018 and 2023:  1

In [27]:
print("check leap days between 2018 and 2023: ", calendar.leapdays(2010, 2023))

check leap days between 2018 and 2023:  3

In [28]:
print("Month calendar", calendar.monthcalendar(2023,3))

Month calendar [[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 31, 0, 0]]

In [30]:
print(calendar.monthrange(2023,3))

(2, 31)

In [31]:
print(calendar.prcal(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31
None

In [32]:
print(calendar.prmonth(2023, 3))

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
None

In [36]:
#set first day of the week as tuesday
first_day = calendar.setfirstweekday(calendar.TUESDAY)
print(f"first day of the week is {first_day}")

first day of the week is None

In [37]:
#return index of day. Monday is 0...
print(calendar.weekday(2023, 3, 6))

0

In [43]:
#Start time and end time (time taken)
#show how long it takes to win a game

#Guessing game - Guess -- Lottery -- random 
print(" ---Welcome to a Guessing game----")
print(" #################################")
print("You are allowed enter any number")
print("The game ends when your entry matches the number in the draw")
print()

start_time = time.time() #starting counting in sec
counter = 0

counter = 0
while True:
    number = int(input('Enter a number: '))
    counter = counter + 1
    if number  == 5:
        break #Note the use of break
    print(number)
    print()

end_time = time.time() #stop counting after game ends
    
print("You made {} attempts".format(counter))
print("--------------------------------")
print("End of the Game!")
print(f"You took {round(end_time-start_time, 2)} seconds to play")

 ---Welcome to a Guessing game----
 #################################
You are allowed enter any number
The game ends when your entry matches the number in the draw

Enter a number:  5

You made 1 attempts
--------------------------------
End of the Game!
You took 2.67 seconds to play

Lesson 14 Takeaway Task
Python Date and Time
6th March 2023
1.	Create a program that prints numbers from 1 to 500 separated by comma using loop.  Track the time taken (in seconds) for the program to run and print it (round off to 1 decimal place).
2.	Write a program that prints NON_LEAP YEARS since 2000.

In [46]:
#program that print 1 -500 seprated by comma. Track time taken by program, round of to 1dp

start_time = time.time() #start counting
counter = 0

for i in range(500):
    print(i, end=" , ")
    
end_time = time.time() #end counting
print()
#time taken
print(f"Program to {round(end_time-start_time, 1)}")

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20 , 21 , 22 , 23 , 24 , 25 , 26 , 27 , 28 , 29 , 30 , 31 , 32 , 33 , 34 , 35 , 36 , 37 , 38 , 39 , 40 , 41 , 42 , 43 , 44 , 45 , 46 , 47 , 48 , 49 , 50 , 51 , 52 , 53 , 54 , 55 , 56 , 57 , 58 , 59 , 60 , 61 , 62 , 63 , 64 , 65 , 66 , 67 , 68 , 69 , 70 , 71 , 72 , 73 , 74 , 75 , 76 , 77 , 78 , 79 , 80 , 81 , 82 , 83 , 84 , 85 , 86 , 87 , 88 , 89 , 90 , 91 , 92 , 93 , 94 , 95 , 96 , 97 , 98 , 99 , 100 , 101 , 102 , 103 , 104 , 105 , 106 , 107 , 108 , 109 , 110 , 111 , 112 , 113 , 114 , 115 , 116 , 117 , 118 , 119 , 120 , 121 , 122 , 123 , 124 , 125 , 126 , 127 , 128 , 129 , 130 , 131 , 132 , 133 , 134 , 135 , 136 , 137 , 138 , 139 , 140 , 141 , 142 , 143 , 144 , 145 , 146 , 147 , 148 , 149 , 150 , 151 , 152 , 153 , 154 , 155 , 156 , 157 , 158 , 159 , 160 , 161 , 162 , 163 , 164 , 165 , 166 , 167 , 168 , 169 , 170 , 171 , 172 , 173 , 174 , 175 , 176 , 177 , 178 , 179 , 180 , 181 , 182 , 183 , 184 , 185 , 186 , 187 , 188 , 189 , 190 , 191 , 192 , 193 , 194 , 195 , 196 , 197 , 198 , 199 , 200 , 201 , 202 , 203 , 204 , 205 , 206 , 207 , 208 , 209 , 210 , 211 , 212 , 213 , 214 , 215 , 216 , 217 , 218 , 219 , 220 , 221 , 222 , 223 , 224 , 225 , 226 , 227 , 228 , 229 , 230 , 231 , 232 , 233 , 234 , 235 , 236 , 237 , 238 , 239 , 240 , 241 , 242 , 243 , 244 , 245 , 246 , 247 , 248 , 249 , 250 , 251 , 252 , 253 , 254 , 255 , 256 , 257 , 258 , 259 , 260 , 261 , 262 , 263 , 264 , 265 , 266 , 267 , 268 , 269 , 270 , 271 , 272 , 273 , 274 , 275 , 276 , 277 , 278 , 279 , 280 , 281 , 282 , 283 , 284 , 285 , 286 , 287 , 288 , 289 , 290 , 291 , 292 , 293 , 294 , 295 , 296 , 297 , 298 , 299 , 300 , 301 , 302 , 303 , 304 , 305 , 306 , 307 , 308 , 309 , 310 , 311 , 312 , 313 , 314 , 315 , 316 , 317 , 318 , 319 , 320 , 321 , 322 , 323 , 324 , 325 , 326 , 327 , 328 , 329 , 330 , 331 , 332 , 333 , 334 , 335 , 336 , 337 , 338 , 339 , 340 , 341 , 342 , 343 , 344 , 345 , 346 , 347 , 348 , 349 , 350 , 351 , 352 , 353 , 354 , 355 , 356 , 357 , 358 , 359 , 360 , 361 , 362 , 363 , 364 , 365 , 366 , 367 , 368 , 369 , 370 , 371 , 372 , 373 , 374 , 375 , 376 , 377 , 378 , 379 , 380 , 381 , 382 , 383 , 384 , 385 , 386 , 387 , 388 , 389 , 390 , 391 , 392 , 393 , 394 , 395 , 396 , 397 , 398 , 399 , 400 , 401 , 402 , 403 , 404 , 405 , 406 , 407 , 408 , 409 , 410 , 411 , 412 , 413 , 414 , 415 , 416 , 417 , 418 , 419 , 420 , 421 , 422 , 423 , 424 , 425 , 426 , 427 , 428 , 429 , 430 , 431 , 432 , 433 , 434 , 435 , 436 , 437 , 438 , 439 , 440 , 441 , 442 , 443 , 444 , 445 , 446 , 447 , 448 , 449 , 450 , 451 , 452 , 453 , 454 , 455 , 456 , 457 , 458 , 459 , 460 , 461 , 462 , 463 , 464 , 465 , 466 , 467 , 468 , 469 , 470 , 471 , 472 , 473 , 474 , 475 , 476 , 477 , 478 , 479 , 480 , 481 , 482 , 483 , 484 , 485 , 486 , 487 , 488 , 489 , 490 , 491 , 492 , 493 , 494 , 495 , 496 , 497 , 498 , 499 ,
Program to 0.0

In [51]:
#program that prints NON_LEAP YEARS since 2000

for i in range(2000, 2023):
    if calendar.isleap(i) == True:
        print(i)

2000
2004
2008
2012
2016
2020