NESTED FOR LOOPS

In [1]:
employees = ["Jack", "Ann", "Ken", "Ben", "Cate"]
salaries = [10000, 30000, 60000, 90000, 40000]

for employee in employees:
    for salary in salaries:
        print("{} earns {}: ".format(employee, salary))

Jack earns 10000:
Jack earns 30000:
Jack earns 60000:
Jack earns 90000:
Jack earns 40000:
Ann earns 10000:
Ann earns 30000:
Ann earns 60000:
Ann earns 90000:
Ann earns 40000:
Ken earns 10000:
Ken earns 30000:
Ken earns 60000:
Ken earns 90000:
Ken earns 40000:
Ben earns 10000:
Ben earns 30000:
Ben earns 60000:
Ben earns 90000:
Ben earns 40000:
Cate earns 10000:
Cate earns 30000:
Cate earns 60000:
Cate earns 90000:
Cate earns 40000:

In [2]:
for i in range(3): # 0,1,2
    for j in range(3): # 0,1,2
        print(i, "x", j, "=" , i*j)
    print("")

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4

In [3]:
#Create some pattern
# outer loop
for i in range(6):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [4]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

Lesson 12 Takeaway task
NESTED LOOP
2nd March 2023
1.	Create a multiple table where the user inputs the number of rows and columns to be printed.

In [5]:
#Create a multiple table where the user inputs the number of rows and columns to be printed
rows = int(input("How many rows do you want?"))
columns = int(input("How many columns do you want?"))

for i in range(rows):
    for j in range(columns):
        print("+", end = " ")
        print('')

How many rows do you want? 3
How many columns do you want? 4

+
+
+
+
+
+
+
+
+
+
+
+

In [6]:
#Create a multiple table where the user inputs the number of rows and columns to be printed
rows = int(input("How many rows do you want?"))
columns = int(input("How many columns do you want?"))
table = ""

for i in range(rows):
    for j in range(columns):
        table = table + " + "
    table = table + "\n"

print(table)

How many rows do you want? 4
How many columns do you want? 5

 +  +  +  +  +
 +  +  +  +  +
 +  +  +  +  +
 +  +  +  +  +

In [7]:
#Create a multiple table where the user inputs the number of rows and columns to be printed
rows = int(input("How many rows do you want?"))
columns = int(input("How many columns do you want?"))
table = ""

for i in range(rows):
    for j in range(columns):
        print(" + ", end="" )
    print()

How many rows do you want? 6
How many columns do you want? 8

 +  +  +  +  +  +  +  +
 +  +  +  +  +  +  +  +
 +  +  +  +  +  +  +  +
 +  +  +  +  +  +  +  +
 +  +  +  +  +  +  +  +
 +  +  +  +  +  +  +  +

In [8]:
#Nested Loops - each iteration in the outside for loop has to return to each iteration
for i in range(3):
    for j in range(3):
        print(i,j, end = " ")
    print()

0 0 0 1 0 2
1 0 1 1 1 2
2 0 2 1 2 2

In [9]:
employees = ["Jack", "Ann"]
salaries = [10000, 30000]

for employee in employees:
    for salary in salaries:
        print("{} earns {}: ".format(employee, salary))

Jack earns 10000:
Jack earns 30000:
Ann earns 10000:
Ann earns 30000: