## Problem 4: What is the closest shopping center from your home / work? (5 points)

In the last problem you should find out the closest shopping center from two different locations a) your home and b) work place. 

**Steps**:

 - Create a txt-file called `activity_locations.txt` (use same formatting as in Problem 1) with two columns:
    - `id`: unique id for each row
    - `addr`:  address of your work and home (or any two addresses in the Helsinki Region.)
    
Save the text file into this repository.
    
 - Read those addresses using pandas and geocode the addresses.
 - Find out the nearest shopping center to these points using Shapely `nearest_points`.
 - Print out the name of the shopping center that is nearest to a) home and b) work. For example: `Shopping center closest to home: REDI`.

In [1]:
#import 
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
# read in input files
addresses = pd.read_csv('addresses.txt', sep=';')
shopping_center = pd.read_csv('shopping_centers.txt', sep=';')

In [3]:
# Geocode activity locations
#import geocoing tool
from geopandas.tools import geocode

addresses_geo = geocode(addresses['addr'], provider='nominatim', user_agent='autogis_HA', timeout=5)
shopping_center_geo = geocode(shopping_center['addr'], provider='nominatim', user_agent='autogis_HA', timeout=5)

In [4]:
# Check coordinate reference system information (re-project/define if needed)
print(addresses_geo.crs)
print(shopping_center_geo.crs)

EPSG:4326
EPSG:4326

In [5]:
addresses_geo = addresses_geo.to_crs(epsg=3879)
shopping_center_geo = shopping_center_geo.to_crs(epsg=3879)

print(addresses_geo.crs)
print(shopping_center_geo.crs)

EPSG:3879
EPSG:3879

In [6]:
shopping_center_geo.head(10)

,geometry,address
0,POINT (25504598.602 6677662.109),"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va..."
1,POINT (25496573.542 6672878.360),"Salaattiasema, 14-20, Mannerheimintie, Keskust..."
2,POINT (25485470.435 6672070.967),"Iso Omena, 11, Piispansilta, Matinkylä, Suur-M..."
3,POINT (25489428.008 6678393.041),"William K, 3-9, Leppävaarankatu, Säteri, Etelä..."
4,POINT (25497943.932 6686656.982),"Stockmann, 3, Vantaanportinkatu, Vantaanportti..."
5,POINT (25498869.737 6674838.689),"Oluthuone Haavi, 5, Hermannin rantatie, Verkko..."
6,POINT (25496166.681 6676094.626),"Pasilansilta, Keski-Pasila, Pasila, Keskinen s..."

In [9]:
shopping_center_join =  shopping_center_geo.join(shopping_center)
shopping_center_join = shopping_center_join[['geometry', 'id', 'name']]
shopping_center_join.head()

                           geometry  id       name
0  POINT (25504598.602 6677662.109)   0       Itis
1  POINT (25496573.542 6672878.360)   1      Forum
2  POINT (25485470.435 6672070.967)   2  Iso-Omena
3  POINT (25489428.008 6678393.041)   3      Sello
4  POINT (25497943.932 6686656.982)   4      Jumbo

In [11]:
addresses_geo.head()

,geometry,address
0,POINT (25495311.608 6672258.695),"Ruoholahti, 14, Itämerenkatu, Ruoholahti, Läns..."
1,POINT (25496206.216 6672909.016),"Kamppi, 1, Kampinkuja, Kamppi, Eteläinen suurp..."
2,POINT (25496762.723 6673010.538),"Bangkok9, 8, Kaivokatu, Keskusta, Kluuvi, Etel..."
3,POINT (25498815.142 6675243.635),"Hermannin rantatie, Verkkosaari, Kalasatama, S..."
4,POINT (25495641.151 6671525.076),"9, Tyynenmerenkatu, Jätkäsaari, Länsisatama, E..."

In [13]:
# Find the closest shopping center for each activity location (closest shopping center from
# and closest shopping center from work) and print out the results:
from shapely.ops import nearest_points

#create function for nearest values
def get_nearest_center(row, other_gdf, point_column='geometry', value_column='geometry'):

    #create union(multipoints)
    other_points = other_gdf['geometry'].unary_union
    
    #find nearest points
    nearest_geoms = nearest_points(row[point_column], other_points)

    #get correspomding values
    nearest_data = other_gdf.loc[other_gdf['geometry'] == nearest_geoms[1]]

    nearest_value = nearest_data[value_column].values[0]

    return nearest_value

In [15]:
#apply function
addresses_geo['nearest_center'] = addresses_geo.apply(get_nearest_center, other_gdf=shopping_center_join, value_column='name', axis=1)

In [17]:
addresses_geo

,geometry,address,nearest_center
0,POINT (25495311.608 6672258.695),"Ruoholahti, 14, Itämerenkatu, Ruoholahti, Läns...",Forum
1,POINT (25496206.216 6672909.016),"Kamppi, 1, Kampinkuja, Kamppi, Eteläinen suurp...",Forum
2,POINT (25496762.723 6673010.538),"Bangkok9, 8, Kaivokatu, Keskusta, Kluuvi, Etel...",Forum
3,POINT (25498815.142 6675243.635),"Hermannin rantatie, Verkkosaari, Kalasatama, S...",REDI
4,POINT (25495641.151 6671525.076),"9, Tyynenmerenkatu, Jätkäsaari, Länsisatama, E...",Forum
5,POINT (25504528.607 6680282.118),"18, Kontulantie, Kontula, Mellunkylä, Itäinen ...",Itis
6,POINT (25505903.642 6678540.297),"Itäväylä, Vartioharju, Vartiokylä, Itäinen suu...",Itis
7,POINT (25501631.384 6685110.943),"Tapulikaupungintie, Tapulikaupunki, Suutarila,...",Jumbo
8,POINT (25501586.789 6683452.706),"Sompionpolku, Fallkullan kiila, Tapanila, Tapa...",Jumbo
9,POINT (25492851.783 6678869.234),"Sodexo, 5, Atomitie, Strömberg, Pitäjänmäen te...",Sello
10,POINT (25496896.718 6673162.114),"Rautatientori, Kaisaniemi, Kluuvi, Eteläinen s...",Forum
11,POINT (25493506.585 6679793.504),"Kuparitie, Lassila, Haaga, Läntinen suurpiiri,...",Sello
12,POINT (25493272.419 6680838.992),"Rumpupolku, Kannelmäki, Kaarela, Läntinen suur...",Sello
13,POINT (25497118.126 6678784.269),"K-Supermarket Mustapekka, 1, Mäkitorpantie, Pa...",Tripla
14,POINT (25500717.139 6682045.953),"Yliopiston Apteekki, 15, Malminkaari, Ala-Malm...",Jumbo
15,POINT (25494134.034 6678278.391),"23, Kylätie, Etelä-Haaga, Haaga, Läntinen suur...",Tripla
16,POINT (25492575.043 6681972.681),"Malminkartanontie, Malminkartano, Kaarela, Län...",Sello
17,POINT (25498144.730 6679629.253),"Oulunkylän tori, Patola, Oulunkylä, Pohjoinen ...",Tripla
18,POINT (25496358.800 6676198.280),"6, Ratapihantie, Itä-Pasila, Pasila, Keskinen ...",Tripla
19,POINT (25492287.623 6679040.234),"Pizza Benitto, 15, Pitäjänmäentie, Reimarla, P...",Sello
20,POINT (25499646.711 6681218.844),"K-Market Pukinmäki, 2, Eskolantie, Savela, Puk...",Jumbo
21,POINT (25501138.484 6681190.816),"Tattariharjuntie, Ala-Malmi, Malmi, Koillinen ...",Itis
22,POINT (25504344.005 6677452.185),"Danske Bank, 1, Tallinnanaukio, Itäkeskus, Var...",Itis
23,POINT (25507495.008 6677173.504),"Tyynylaavantie, Keski-Vuosaari, Vuosaari, Itäi...",Itis
24,POINT (25504169.174 6679129.384),"Myllypurontie, Myllypuro, Vartiokylä, Itäinen ...",Itis
25,POINT (25506082.506 6680577.960),"Mellunmäenraitio, Mellunmäki, Mellunkylä, Itäi...",Itis
26,POINT (25497840.365 6675020.358),"Vaasanpolku, Kurvi, Harju, Alppiharju, Keskine...",REDI
27,POINT (25501570.947 6675734.321),"Alko, 2, Hiihtäjäntie, Länsi-Herttoniemi, Hert...",REDI
28,POINT (25500377.732 6675098.523),"Metro Kulosaari, 2, Ukko-Pekan porras, Kulosaa...",REDI
29,POINT (25497199.344 6674065.972),"K-Market, 16, Siltasaarenkatu, Siltasaari, Kal...",Forum
30,POINT (25496286.911 6672913.768),"Kampin keskus, 1, Urho Kekkosen katu, Kamppi, ...",Forum
31,POINT (25496128.995 6672625.288),"Ruoholahdenkatu, Hietalahti, Kamppi, Eteläinen...",Forum
32,POINT (25495624.409 6671766.187),"3, Tyynenmerenkatu, Jätkäsaari, Länsisatama, E...",Forum
33,POINT (25497062.747 6673226.621),"Oluthuone Kaisla, 4, Vilhonkatu, Kaisaniemi, K...",Forum

Can you think of other application cases for the nearest neighbour analysis?

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()