In [1]:
import numpy as np
import pandas as pd

[pandas](https://pandas.pydata.org/) is a library for manipulating and analyzing tabular data. We give rapid and selective overview of some of its basic capabilities.

# 1 Creating a dataframe

There are many different ways to create a dataframe in pandas. 

E.g. see here: https://towardsdatascience.com/15-ways-to-create-a-pandas-dataframe-754ecc082c17

Here is one fast way.

In [2]:
array = np.array([[1, 3.4, 'A'],
                  [5, -8.9, 'B'], 
                  [3, 2.2, 'A']])
test = pd.DataFrame(array, columns = ['column1', 'column2', 'column3'])
test

  column1 column2 column3
0       1     3.4       A
1       5    -8.9       B
2       3     2.2       A

# 2 Loading some sample data

To make things a little more interesting, we will use the famous "iris" dataset that is often used in examples.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 3 Selecting things

## 3.1 Selecting rows

You can quickly index rows as follows

In [5]:
df[:10]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

It is more readable to do the following

In [6]:
df.iloc[:10,:]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Or even better

In [7]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

### 3.1.1 loc and iloc

`iloc` uses an internal counter to count the rows (or columns). That is, it selects rows at integer locations.

This is different from `loc`, which selects rows and columns based on labels. 

Let's illustrate this with the first example

In [8]:
test

  column1 column2 column3
0       1     3.4       A
1       5    -8.9       B
2       3     2.2       A

We are now going to modify the row `index` of the dataframe (the numbers running down the left). Note that an index needn't start at `0` and needn't consist of integers. For now it is though.

In [9]:
test.index

RangeIndex(start=0, stop=3, step=1)

Let's modify it

In [10]:
test.index = ['ONE', 'TWO', 'THREE']

In [11]:
test

      column1 column2 column3
ONE         1     3.4       A
TWO         5    -8.9       B
THREE       3     2.2       A

In [12]:
test.iloc[[0,2],:]

      column1 column2 column3
ONE         1     3.4       A
THREE       3     2.2       A

In [13]:
test.loc[['TWO', 'THREE'],:]

      column1 column2 column3
TWO         5    -8.9       B
THREE       3     2.2       A

A nice explanation of `loc` vs `iloc` is given here: 

https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

## 3.2 Selecting columns

We can get the columns of a dataframe simply with

In [14]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

Note that this is also an `index`.

To select particular columns, simply enclose a list of the columns you want to select in square brackets:

In [15]:
df[['species', 'petal_width']]

       species  petal_width
0       setosa          0.2
1       setosa          0.2
2       setosa          0.2
3       setosa          0.2
4       setosa          0.2
..         ...          ...
145  virginica          2.3
146  virginica          1.9
147  virginica          2.0
148  virginica          2.3
149  virginica          1.8

[150 rows x 2 columns]

We can also do this with `.loc` and combine with row-selection while we are at it

In [16]:
df.loc[range(10), ['species', 'petal_width']]

  species  petal_width
0  setosa          0.2
1  setosa          0.2
2  setosa          0.2
3  setosa          0.2
4  setosa          0.2
5  setosa          0.4
6  setosa          0.3
7  setosa          0.2
8  setosa          0.2
9  setosa          0.1

## 3.3 Selecting individual variables

Enclosing a single-element list in square brackets gives a single-variable dataframe

In [17]:
df[['species']]

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

If we enclose only in one bracket, we get a pandas `series` object back

In [18]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

We can achieve the same thing using ".dot-notation"

In [19]:
df.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [20]:
type(df.species)

pandas.core.series.Series

A `series` is essentially a `numpy` array with an index. To make this a little clearer, let's return to our simpler `test` dataframe from earlier.

In [21]:
test

      column1 column2 column3
ONE         1     3.4       A
TWO         5    -8.9       B
THREE       3     2.2       A

Note that we have this custom `index` on the left. This index stays with individual columns when we grab them as a `series`:

In [22]:
test.column1

ONE      1
TWO      5
THREE    3
Name: column1, dtype: object

we can then use this index to subset ranges of the `series`

In [23]:
test.column1['ONE':'TWO']

ONE    1
TWO    5
Name: column1, dtype: object

In [24]:
test.column1['TWO':'THREE']

TWO      5
THREE    3
Name: column1, dtype: object

In [25]:
test.column1[['ONE', 'THREE']]

ONE      1
THREE    3
Name: column1, dtype: object

note that basic indexing continues to be available

In [26]:
test.column1[0:2]

ONE    1
TWO    5
Name: column1, dtype: object

# 4 Selecting rows based on conditional logic

Simple conditional statements are easy to implement

In [27]:
df[df.sepal_length > 5.5]

     sepal_length  sepal_width  petal_length  petal_width     species
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[91 rows x 5 columns]

For more complicated conditional statements, you have to enclose each condition in parentheses and connect them with logical operators

In [28]:
df[(df.sepal_length > 5.5) & (df['sepal_width'] <= 2.5)]

     sepal_length  sepal_width  petal_length  petal_width     species
62            6.0          2.2           4.0          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
72            6.3          2.5           4.9          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
108           6.7          2.5           5.8          1.8   virginica
113           5.7          2.5           5.0          2.0   virginica
119           6.0          2.2           5.0          1.5   virginica
146           6.3          2.5           5.0          1.9   virginica

A more elaborate example involving a negation

In [29]:
df[~(df.species == 'virginica') | ((df.petal_width > 2) & (df.sepal_length > 6))]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
148           6.2          3.4           5.4          2.3  virginica

[122 rows x 5 columns]

we can even use computations as part of select statements

In [30]:
df[df.sepal_length > df.sepal_length.mean() - df.petal_width.std()]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

# 5 sort, duplicates and unique

## 5.1 sorting

In [31]:
df.sort_values(by='sepal_length')

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [32]:
df.sort_values(by=['sepal_length', 'petal_width'], ascending=[False, True])

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
135           7.7          3.0           6.1          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

## 5.2 Duplicates

In [33]:
df.drop_duplicates(subset=['species'])

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
100           6.3          3.3           6.0          2.5   virginica

In [34]:
df.drop_duplicates(subset=['species', 'sepal_length'])

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
8             4.4          2.9           1.4          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
33            5.5          4.2           1.4          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
48            5.3          3.7           1.5          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor
84            5.4          3.0           4.5          1.5  versicolor
98            5.1          2.5           3.0          1.1  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
117           7.7          3.8           6.7          2.2   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
149           5.9          3.0           5.1          1.8   virginica

## 5.3 Unique

In [35]:
pd.unique(df.species)

array(['setosa', 'versicolor', 'virginica'], dtype=object)

# 6 Creating, modifying and deleting columns

In [36]:
df['new_column'] = 1

In [37]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1
146,6.3,2.5,5.0,1.9,virginica,1
147,6.5,3.0,5.2,2.0,virginica,1
148,6.2,3.4,5.4,2.3,virginica,1
149,5.9,3.0,5.1,1.8,virginica,1

In [38]:
df['new_column'] = (df.sepal_length - df['petal_width']) / df.sepal_width

In [39]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,5.1,3.5,1.4,0.2,setosa,1.400000
1,4.9,3.0,1.4,0.2,setosa,1.566667
2,4.7,3.2,1.3,0.2,setosa,1.406250
3,4.6,3.1,1.5,0.2,setosa,1.419355
4,5.0,3.6,1.4,0.2,setosa,1.333333
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1.466667
146,6.3,2.5,5.0,1.9,virginica,1.760000
147,6.5,3.0,5.2,2.0,virginica,1.500000
148,6.2,3.4,5.4,2.3,virginica,1.147059
149,5.9,3.0,5.1,1.8,virginica,1.366667

In [40]:
df.loc[df.petal_width < 1, 'new_column'] = -9999

In [41]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,5.1,3.5,1.4,0.2,setosa,-9999.000000
1,4.9,3.0,1.4,0.2,setosa,-9999.000000
2,4.7,3.2,1.3,0.2,setosa,-9999.000000
3,4.6,3.1,1.5,0.2,setosa,-9999.000000
4,5.0,3.6,1.4,0.2,setosa,-9999.000000
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1.466667
146,6.3,2.5,5.0,1.9,virginica,1.760000
147,6.5,3.0,5.2,2.0,virginica,1.500000
148,6.2,3.4,5.4,2.3,virginica,1.147059
149,5.9,3.0,5.1,1.8,virginica,1.366667

In [42]:
del df['new_column']

In [43]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 7 Aggregation

## 7.1 Simple example

In [44]:
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

## 7.2 More than one aggregation function

In [45]:
df[['sepal_length', 'petal_width']].groupby(df.species).agg(['mean', 'min', 'max'])

           sepal_length           petal_width
                   mean  min  max        mean  min  max
species
setosa            5.006  4.3  5.8       0.246  0.1  0.6
versicolor        5.936  4.9  7.0       1.326  1.0  1.8
virginica         6.588  4.9  7.9       2.026  1.4  2.5

## 7.3 More than one group variable

In [46]:
df['long_sepal'] = (df.sepal_length > df.sepal_length.mean())

In [47]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,long_sepal
0,5.1,3.5,1.4,0.2,setosa,False
1,4.9,3.0,1.4,0.2,setosa,False
2,4.7,3.2,1.3,0.2,setosa,False
3,4.6,3.1,1.5,0.2,setosa,False
4,5.0,3.6,1.4,0.2,setosa,False
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,True
146,6.3,2.5,5.0,1.9,virginica,True
147,6.5,3.0,5.2,2.0,virginica,True
148,6.2,3.4,5.4,2.3,virginica,True
149,5.9,3.0,5.1,1.8,virginica,True

In [48]:
df[['sepal_length', 'sepal_width']].groupby([df.species, df.long_sepal]).mean()

                       sepal_length  sepal_width
species    long_sepal
setosa     False           5.006000     3.428000
versicolor False           5.500000     2.637500
           True            6.338462     2.892308
virginica  False           5.600000     2.666667
           True            6.722727     3.015909

## 7.4 Creating new variables as the result of aggregations

In [49]:
df['species_mean_sepal_length'] = df.sepal_length.groupby(df.species).transform('mean')

In [50]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,long_sepal,species_mean_sepal_length
0,5.1,3.5,1.4,0.2,setosa,False,5.006
1,4.9,3.0,1.4,0.2,setosa,False,5.006
2,4.7,3.2,1.3,0.2,setosa,False,5.006
3,4.6,3.1,1.5,0.2,setosa,False,5.006
4,5.0,3.6,1.4,0.2,setosa,False,5.006
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,True,6.588
146,6.3,2.5,5.0,1.9,virginica,True,6.588
147,6.5,3.0,5.2,2.0,virginica,True,6.588
148,6.2,3.4,5.4,2.3,virginica,True,6.588
149,5.9,3.0,5.1,1.8,virginica,True,6.588

In [51]:
df['number_per_species'] = df.sepal_length.groupby(df.species).transform('count')

In [52]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,long_sepal,species_mean_sepal_length,number_per_species
0,5.1,3.5,1.4,0.2,setosa,False,5.006,50
1,4.9,3.0,1.4,0.2,setosa,False,5.006,50
2,4.7,3.2,1.3,0.2,setosa,False,5.006,50
3,4.6,3.1,1.5,0.2,setosa,False,5.006,50
4,5.0,3.6,1.4,0.2,setosa,False,5.006,50
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,True,6.588,50
146,6.3,2.5,5.0,1.9,virginica,True,6.588,50
147,6.5,3.0,5.2,2.0,virginica,True,6.588,50
148,6.2,3.4,5.4,2.3,virginica,True,6.588,50
149,5.9,3.0,5.1,1.8,virginica,True,6.588,50

In [53]:
del df['long_sepal'], df['species_mean_sepal_length'], df['number_per_species']

# 8 Copies vs. Views

When working in `pandas`, you will soon run into the difference between a **copy** of a dataframe (its own independent instance) and a **view** of a dataframe (which may be just the original dataframe or, for example, a selection of its rows / columns). Importantly, views refer back to the original dataframe. This can be confusing at first and how it exactly works (and will work in the future) is subject to debate among the `pandas` developers. For more on this topic, we recommend having a read over this: https://www.practicaldatascience.org/html/views_and_copies_in_pandas.html

In [54]:
df_view = df[df.species == 'virginica']

In [55]:
df_view['test'] = 1

<ipython-input-55-fcecb442d5f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_view['test'] = 1

In [56]:
df_view

     sepal_length  sepal_width  petal_length  petal_width    species  test
100           6.3          3.3           6.0          2.5  virginica     1
101           5.8          2.7           5.1          1.9  virginica     1
102           7.1          3.0           5.9          2.1  virginica     1
103           6.3          2.9           5.6          1.8  virginica     1
104           6.5          3.0           5.8          2.2  virginica     1
105           7.6          3.0           6.6          2.1  virginica     1
106           4.9          2.5           4.5          1.7  virginica     1
107           7.3          2.9           6.3          1.8  virginica     1
108           6.7          2.5           5.8          1.8  virginica     1
109           7.2          3.6           6.1          2.5  virginica     1
110           6.5          3.2           5.1          2.0  virginica     1
111           6.4          2.7           5.3          1.9  virginica     1
112           6.8          3.0           5.5          2.1  virginica     1
113           5.7          2.5           5.0          2.0  virginica     1
114           5.8          2.8           5.1          2.4  virginica     1
115           6.4          3.2           5.3          2.3  virginica     1
116           6.5          3.0           5.5          1.8  virginica     1
117           7.7          3.8           6.7          2.2  virginica     1
118           7.7          2.6           6.9          2.3  virginica     1
119           6.0          2.2           5.0          1.5  virginica     1
120           6.9          3.2           5.7          2.3  virginica     1
121           5.6          2.8           4.9          2.0  virginica     1
122           7.7          2.8           6.7          2.0  virginica     1
123           6.3          2.7           4.9          1.8  virginica     1
124           6.7          3.3           5.7          2.1  virginica     1
125           7.2          3.2           6.0          1.8  virginica     1
126           6.2          2.8           4.8          1.8  virginica     1
127           6.1          3.0           4.9          1.8  virginica     1
128           6.4          2.8           5.6          2.1  virginica     1
129           7.2          3.0           5.8          1.6  virginica     1
130           7.4          2.8           6.1          1.9  virginica     1
131           7.9          3.8           6.4          2.0  virginica     1
132           6.4          2.8           5.6          2.2  virginica     1
133           6.3          2.8           5.1          1.5  virginica     1
134           6.1          2.6           5.6          1.4  virginica     1
135           7.7          3.0           6.1          2.3  virginica     1
136           6.3          3.4           5.6          2.4  virginica     1
137           6.4          3.1           5.5          1.8  virginica     1
138           6.0          3.0           4.8          1.8  virginica     1
139           6.9          3.1           5.4          2.1  virginica     1
140           6.7          3.1           5.6          2.4  virginica     1
141           6.9          3.1           5.1          2.3  virginica     1
142           5.8          2.7           5.1          1.9  virginica     1
143           6.8          3.2           5.9          2.3  virginica     1
144           6.7          3.3           5.7          2.5  virginica     1
145           6.7          3.0           5.2          2.3  virginica     1
146           6.3          2.5           5.0          1.9  virginica     1
147           6.5          3.0           5.2          2.0  virginica     1
148           6.2          3.4           5.4          2.3  virginica     1
149           5.9          3.0           5.1          1.8  virginica     1

The safest way if you want to start modifying slices of data is to make a `copy()`.

In [57]:
df_copy = df[df.species == 'virginica'].copy()

In [58]:
df_copy['test'] = 1

In [59]:
df_copy

     sepal_length  sepal_width  petal_length  petal_width    species  test
100           6.3          3.3           6.0          2.5  virginica     1
101           5.8          2.7           5.1          1.9  virginica     1
102           7.1          3.0           5.9          2.1  virginica     1
103           6.3          2.9           5.6          1.8  virginica     1
104           6.5          3.0           5.8          2.2  virginica     1
105           7.6          3.0           6.6          2.1  virginica     1
106           4.9          2.5           4.5          1.7  virginica     1
107           7.3          2.9           6.3          1.8  virginica     1
108           6.7          2.5           5.8          1.8  virginica     1
109           7.2          3.6           6.1          2.5  virginica     1
110           6.5          3.2           5.1          2.0  virginica     1
111           6.4          2.7           5.3          1.9  virginica     1
112           6.8          3.0           5.5          2.1  virginica     1
113           5.7          2.5           5.0          2.0  virginica     1
114           5.8          2.8           5.1          2.4  virginica     1
115           6.4          3.2           5.3          2.3  virginica     1
116           6.5          3.0           5.5          1.8  virginica     1
117           7.7          3.8           6.7          2.2  virginica     1
118           7.7          2.6           6.9          2.3  virginica     1
119           6.0          2.2           5.0          1.5  virginica     1
120           6.9          3.2           5.7          2.3  virginica     1
121           5.6          2.8           4.9          2.0  virginica     1
122           7.7          2.8           6.7          2.0  virginica     1
123           6.3          2.7           4.9          1.8  virginica     1
124           6.7          3.3           5.7          2.1  virginica     1
125           7.2          3.2           6.0          1.8  virginica     1
126           6.2          2.8           4.8          1.8  virginica     1
127           6.1          3.0           4.9          1.8  virginica     1
128           6.4          2.8           5.6          2.1  virginica     1
129           7.2          3.0           5.8          1.6  virginica     1
130           7.4          2.8           6.1          1.9  virginica     1
131           7.9          3.8           6.4          2.0  virginica     1
132           6.4          2.8           5.6          2.2  virginica     1
133           6.3          2.8           5.1          1.5  virginica     1
134           6.1          2.6           5.6          1.4  virginica     1
135           7.7          3.0           6.1          2.3  virginica     1
136           6.3          3.4           5.6          2.4  virginica     1
137           6.4          3.1           5.5          1.8  virginica     1
138           6.0          3.0           4.8          1.8  virginica     1
139           6.9          3.1           5.4          2.1  virginica     1
140           6.7          3.1           5.6          2.4  virginica     1
141           6.9          3.1           5.1          2.3  virginica     1
142           5.8          2.7           5.1          1.9  virginica     1
143           6.8          3.2           5.9          2.3  virginica     1
144           6.7          3.3           5.7          2.5  virginica     1
145           6.7          3.0           5.2          2.3  virginica     1
146           6.3          2.5           5.0          1.9  virginica     1
147           6.5          3.0           5.2          2.0  virginica     1
148           6.2          3.4           5.4          2.3  virginica     1
149           5.9          3.0           5.1          1.8  virginica     1

# 9 Missing data

In [60]:
df2 = df.copy()

In [61]:
df2.loc[df2.sepal_length < df2.sepal_length.median(), 'sepal_length'] = np.nan

missing data are selected with the special `isnull()` method in pandas (there is an analogous method in `numpy`).

In [62]:
df2[pd.isnull(df2.sepal_length)]

     sepal_length  sepal_width  petal_length  petal_width     species
0             NaN          3.5           1.4          0.2      setosa
1             NaN          3.0           1.4          0.2      setosa
2             NaN          3.2           1.3          0.2      setosa
3             NaN          3.1           1.5          0.2      setosa
4             NaN          3.6           1.4          0.2      setosa
..            ...          ...           ...          ...         ...
98            NaN          2.5           3.0          1.1  versicolor
99            NaN          2.8           4.1          1.3  versicolor
106           NaN          2.5           4.5          1.7   virginica
113           NaN          2.5           5.0          2.0   virginica
121           NaN          2.8           4.9          2.0   virginica

[73 rows x 5 columns]

In [63]:
df2[~pd.isnull(df2.sepal_length)]

     sepal_length  sepal_width  petal_length  petal_width     species
14            5.8          4.0           1.2          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[77 rows x 5 columns]

# 10 Basic information about dataframes

In [64]:
df.shape

(150, 5)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [66]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [67]:
df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

# 11 Merging and joining

In [68]:
df1 = pd.DataFrame(np.array([[1,'A'], [2,'B'], [3,'C']]), columns = ['key', 'v1'])
df2 = pd.DataFrame(np.array([[1,'X'], [4,'Y']]), columns = ['key', 'v2'])

In [69]:
df1

  key v1
0   1  A
1   2  B
2   3  C

In [70]:
df2

  key v2
0   1  X
1   4  Y

## 11.1 Merge

In [71]:
pd.merge(df1, df2, on=['key'], how='inner')

  key v1 v2
0   1  A  X

In [72]:
pd.merge(df1, df2, on=['key'], how='left')

  key v1   v2
0   1  A    X
1   2  B  NaN
2   3  C  NaN

In [73]:
pd.merge(df1, df2, on=['key'], how='right')

  key   v1 v2
0   1    A  X
1   4  NaN  Y

In [74]:
pd.merge(df1, df2, on=['key'], how='outer')

  key   v1   v2
0   1    A    X
1   2    B  NaN
2   3    C  NaN
3   4  NaN    Y

If you miss Stata...

In [75]:
pd.merge(df1, df2, on=['key'], how='outer', indicator=True)

  key   v1   v2      _merge
0   1    A    X        both
1   2    B  NaN   left_only
2   3    C  NaN   left_only
3   4  NaN    Y  right_only

## 11.2 Join

In [76]:
df1.index, df2.index = df1.key, df2.key
del df1['key'], df2['key']

In [77]:
df1.join(df2, how='inner')

    v1 v2
key
1    A  X

In [78]:
df1.join(df2, how='outer').reset_index(drop=False)

  key   v1   v2
0   1    A    X
1   2    B  NaN
2   3    C  NaN
3   4  NaN    Y